<mat-card-title class="card-title">
    Datos de Contacto
</mat-card-title>
<mat-card-content>
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ej. Manuel Rivas" type="text" [(ngModel)]="current_contacto.Nombre">
        <mat-icon matSuffix>priority_high</mat-icon>
        <mat-hint>Nombre del contacto</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cód. País</mat-label>
        <input matInput placeholder="Ej. 54" type="number" [(ngModel)]="current_contacto.cod" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        <mat-icon matSuffix>priority_high</mat-icon>
        <mat-hint>Código de país</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cód. Area</mat-label>
        <input matInput placeholder="Ej. 011" type="number" [(ngModel)]="current_contacto.area" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        <mat-icon matSuffix>priority_high</mat-icon>
        <mat-hint>Código de area</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Ej. 56567878" type="number" [(ngModel)]="current_contacto.telefono" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        <mat-icon matSuffix>priority_high</mat-icon>
        <mat-hint>Número teléfono personal</mat-hint>
    </mat-form-field>
</mat-card-content>
<mat-dialog-actions class="action-buttons">
    <button mat-raised-button color="accent" mat-dialog-close (click)="cancelAction()">Cancelar</button>
    <button mat-raised-button color="warn" (click)="deleteAction()" *ngIf="type === 'edit'">Borrar</button>
    <button mat-raised-button color="primary" (click)="confirmAction()">Guardar</button>
</mat-dialog-actions>