<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="menuClicked('calc')">
      <mat-icon>calculate</mat-icon>
      <span>Calcular Precio</span>
    </button>
    <button mat-menu-item (click)="menuClicked('nuevo_transportista')">
      <mat-icon>add_circle</mat-icon>
      <span>Registrar Transportista</span>
    </button>
    <button mat-menu-item (click)="menuClicked('lista_transportistas')">
      <mat-icon>recent_actors</mat-icon>
      <span>Ver Transportistas</span>
    </button>
    <button mat-menu-item (click)="menuClicked('log_out')">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>  
  <span class="button-role" (click)="menuClicked('')">SIT <span class="grey-text">Argentina</span></span>
  <span class="spacer"></span>
  <img (click)="menuClicked('')" src="../assets/logo.jpg" class="logo-main button-role">
</mat-toolbar>
<router-outlet></router-outlet>